html 
    head
    link(rel="stylesheet" type="text/css" href="globals.css")
    link(rel="stylesheet" type="text/css" href="group.css")
    body 
        .container
            .group-wrapper 
                h1.group-title=group
                span.group-description=description
            div 
                ul.song-list
                    each n in songs 
                        li.song=n