html(lang="en")
  head
    title 퍼그를 활용한 웹 페이지 만들기
    link(rel="stylesheet", type="text/css", href="globals.less")
  body
    .main-container
      include ./header.pug
      .home-container
        .home-innerwrapper
  include ./footer.pug
