html
    head
        link(rel="stylesheet" type="text/css" href="globals.css")
    body 
        h1 User profile page
        //- div=msg
        h2 Nickname
        div.green= nickname
        include ./footer.pug